#mainSection {
    margin: auto auto;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-size: cover;
    z-index: 1;
}

#visual {
    height: 80vh;
}

#fireworkAnimation {
    width: 100%;
    position: relative;
    top: 25%;
}

#firework01 {
    width: 16%;
    position: absolute;
    margin-top: 12%;
    left: 21%;
}

#firework02 {
    width: 50%;
    position: absolute;
    margin-top: 4%;
    left: 20%;
}

#firework03 {
    width: 22%;
    position: absolute;
    margin-top: 12%;
    left: 52%;
}


/* #building {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 0;
} */

#timeline {
    height: 20vh;
    width: 100%;
    background-color: gray;
    z-index: 10;
}